rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /partyRooms/{roomId} {
      allow read, write: if true;

      match /members/{memberId} {
        allow read, write: if true;
      }
    }
  }
}
